body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: #212121;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* --------------------------------------------HEADER */

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.studio {
  color: #000000;
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.a-link:hover,
.a-link:focus {
  color: #2196f3;
}
.email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.email:hover,
.email:focus {
  color: #2196f3;
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel:hover,
.tel:focus {
  color: #2196f3;
}
.button {
  background-color: #ffffff;
}

/* --------------------------------------------------BUTTON */
.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* -------------------------------------------------------------ПОРТФОЛИО */
.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
