:root {
  --primary-text-color: #757575; /*загальний текст*/
  --title-text-color: #212121; /*заголовки*/
  --acent-color: #2196f3; /*колір наведення*/
  --black-color: #000000; /*чорний*/
  --primary-bg-color: #ffffff; /*білий*/
  --footer-bgc-color: #2f303a; /*фон футера*/
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* --------------------------------------------HEADER */

.header-logo {
  color: var(--acent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--title-text-color);
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.a-link:hover,
.a-link:focus {
  color: var(--acent-color);
}
.email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.email:hover,
.email:focus {
  color: var(--acent-color);
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.tel:hover,
.tel:focus {
  color: var(--acent-color);
}
.button {
  background-color: var(--primary-bg-color);
}

/* --------------------------------------------------BUTTON */

.btn-filter {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--acent-color);
  color: var(--title-text-color);
}

/* -------------------------------------------------------------ПОРТФОЛИО */
.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.studio-footer {
  color: var(--primary-bg-color);
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.footer {
  background-color: var(--footer-bgc-color);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
